.login-page {
  .logo {
    display: none;
  }
  .login-form-header {
    text-align: center;
    img{
      width: 100%;
      height: auto;
      max-width: 300px;
    }
  }

  .login-form {
    position: relative;
    z-index: 10;
  }

  .intro-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .1;
    z-index: 0;
  }
}