#userOperations-page {

}

.multiple-actualization-module {
  margin: 20px 0 0;
  background: #2D2C3B;
  padding: 15px;
  border-radius: 4px;
}

.positive-amount .ant-input-group-addon {
  background-color: $positive;
}

.negative-amount .ant-input-group-addon {
  background-color: $negative;
}

.is-bulk-operation-form {
  display: flex;
  flex-wrap: wrap;
  .ant-row {
    flex: 1 0 100%;
    margin: 5px;

    @media screen and (min-width: $md) {
      flex: 1 0 40%;
    }

  }


}