.dark-mode {
  .ant-layout-header,
  .ant-layout-footer,
  .ant-menu-dark {
    background-color: $black;
  }
  .ant-layout {
    background-color: $gray-1b1;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: $white;
    background: #F6891A;
    border-color: #F6891A;
    box-shadow: none;
    &:hover {
      color: $white;
    }
  }
}