.dark-mode {
  .ant-layout-header,
  .ant-layout-footer,
  .ant-menu-dark {
    background-color: $black;
  }

  &.ant-layout {
    background-color: $gray-0e0;

    @media screen and (min-width: $lg) {


      &.static-page {
        background-color: $white!important;
      }
    }


  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: $white;
    background: $blue-165;
    border-color: $blue-165;
    box-shadow: none;
    &:hover {
      color: $white;
    }
  }
}

.ant-input-password-icon {
  font-size: 2.0rem;
  color: $gray-secondary;
}

.ant-table-tbody > tr.ant-table-row-selected td {
  color: $gray-0e0;
  background: $gray-primary;
}

.ant-result {
  padding: 0 32px;
}
.ant-result-icon {
  margin-bottom: 10px;
}

.ant-result-title {
  font-size: 18px;
}

.ant-btn-cancel {
  color: #fff;
  background-color: $red;
  border-color: $red;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: $positive;
}

.ant-table-title {
  @media screen and (min-width: $md) {
    min-height: 72px;
  }
}

.ant-btn-tertiary {
  background: $primary-color;
  border-color: $primary-color;

  &:hover, &:active {
    color: $white;
    border-color: $primary-color;
  }
}