.dark-mode {
  .ant-layout-header,
  .ant-layout-footer,
  .ant-menu-dark {
    background-color: $black;
  }
  .ant-layout {
    background-color: $gray-222;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: $white;
    background: #1890ff;
    &:hover {
      color: $white;
    }
  }
}