

html {
  font-size: 62.5%;
}

body {
  //font-family: 'Abel', sans-serif;
  font-family: 'Roboto', sans-serif;

  font-size: 1.4rem;
  min-height: 100vh;
  font-weight: 300;
  margin: 0;
}

strong {
  font-weight:700;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.t-a-r {
  text-align: right!important;
}

.no-visible {
  visibility: hidden;
}

.txt-highlight {
  font-weight: bold;
  font-size: 1.6rem;
}

.page-loader {
  width: 300px;
  height: 300px;
  position: fixed;
  z-index: 100;

  margin: auto;
  top:20%;
  left: 0;
  right: 0;
  display: none;
}



.nprogress-busy .login-page .page-loader {
  display: block;

}


.ant-layout-sider {
  background-color: $black;
}

.ant-layout-sider-trigger {
  background-color: $blue-44a;
}
.ant-layout-content {
  padding: 0;
  margin: 0;
  @media screen and (min-width: $lg) {
    margin: 64px 0 15px;
  }
}

.ant-radio-group-solid {
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: $white;
  }
}

.main-container {
  padding: 24px;
  min-height: 380px;
}

.login-container {
  height: 70vh;

  button {
    width: 100%;
  }

  .login-form-container {
    border-radius: 10px;

    form {
      padding: 15px 15px 0;
    }

    .login-form-header {
      text-align: center;


      padding: 5px;

      h2 {
        margin: 0;

      }
    }


  }
}
.cta-container {
  display: flex;
  button {
    margin: 0 3px;
  }
}

.page-header {
  margin-bottom: 20px;
}


.footer-page-logo {
  text-align: center;
  padding: 5px;
  background-color: $white;
  img {
    width: 15%;
    height: auto;
  }

}

.ant-layout-footer {
  font-size: 1.2rem;
  padding: 15.5px 50px;
}

.date {
  white-space: nowrap;
}

.export-excel-cta, .export-excel-cta.ant-btn-primary {
  color: $white;
  background-color: $green-excel-hover;
  border-color: $green-excel-hover;
  &:hover, &:focus, &:active {
    background-color: $green-excel;
    border-color: $green-excel-hover;
  }
}

.export-pdf-cta, .export-pdf-cta.ant-btn-primary {
  background-color: $orange-btn-h;
  color: $white;
  border-color:$orange-btn-h;
  &:hover, &:focus, &:active {
    background-color: $negative;
    border-color: $negative;
  }
}



.ant-table-tbody > tr > td {
  padding: 5px;
  
  @media screen and (min-width: $lg) {
    padding: 16px;
  }
}

.ant-table-bordered .ant-table-tbody > tr > td, .ant-table-thead > tr > th, .ant-table-tbody > tr {
  white-space: nowrap;

  @media screen and (min-width: $lg) {
    //white-space: normal;
  }
}

body > div:first-of-type:not(#__next) {
  position: relative;

  &:before {
    content: url('/static/loader.svg');
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.ant-btn-primary {
  background-color: $blue-165;
  border-color: $blue-165;
}

.ant-menu  {
  a.active {
    color: $white;

    i {
      color: $blue-44a;
    }
  }

}

.ant-form-item-label {
  line-height: 23px;
}

.ant-select-dropdown-menu-item-group {
  .ant-select-dropdown-menu-item-group-title {
    font-size: 1.4rem;
    color: $white;
  }
  .ant-select-dropdown-menu-item-group-list {
    background-color: $gray-222;
  }
}

.ant-table-wrapper {
  &.hasNew .actions-col {
    display: table-cell;
  }

  .actions-col {
    display: none;
  }

}

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}

.stock {
  color: $stock;
}

@keyframes gradient {
  0% {
    //background-position: 0%;
    background-size: 200%;
  }

  100% {
    //background-position: 100%;
    background-size: 100%;
  }
}


.positive-bg {
  color: $white;
  background: $positive;
  background: linear-gradient(90deg, $positive 0%, rgba(0,0,0,0) 100%);
}

.negative-bg {
  color: $white;
  background: $negative;
  background: linear-gradient(90deg, $negative 0%, rgba(0,0,0,0) 100%);
}

.neutral-bg {
  color: $white;
  background: $blue;
  background: linear-gradient(90deg, $blue 0%, rgba(0,0,0,0) 100%);
  transition: background 2s ease-in;
}

.product-tag {
  background-color: $white;
  color: $black;
  font-weight: 700;
  font-size: 1.4rem;
}

.widget-box-container {
  display: table-cell;

  .tradingview-widget-container {
    //display: table-column;
    float: left;
    width: 100%;

    @media screen and (min-width: $md) {
      width: 45%;
    }
  }
}

.hidden-table, .hidden {
  display: none!important;
}

.asset-class {
  color: $white;

  &.green {
    background: $green;
  }

  &.red {
    background: $red;
  }
  &.yellow {
    background: $yellow;
  }
  &.purple {
    background: $purple;
  }
  &.orange {
    background: $orange;
  }
  &.blue {
    background: $blue;
  }


}

.ant-table-wrapper {

  .cta-container .ant-btn {
    span {
      display: inline-block;
    }
  }

  &.is-menu-fold {
    .cta-container .ant-btn {
      span {
        display: none;
      }
    }
  }
}

.status-online {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: $positive;
  border-radius: 50%;
  margin: 3px;
}

.flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}
.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.flexible-modal-resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}
.flexible-modal-drag-area{
  background: rgba(22, 22, 333, 0.2);
  height: 50px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}

.flexible-modal-wrapper {
  .ant-modal > .ant-modal-content {
    background: none;
    padding:0;

    .handle {
      cursor: move;
    }

    & > .ant-modal-close {
      display: none;

      & + .ant-modal-body {
        padding: 0;
      }
    }
  }
}

.download-file {
  display: inline-block;
  height: 40px;
  padding: 10px;
  color: #fff;
  margin: 20px 0;
  font-size: 19px;
}

.fixed-table-actions-panel {
  .ant-table-header-column {
    width: 100%;
  }
}

.iframe-page .ant-layout{
  background: #0E0E0E;
}

.overlay-modal:before {
  content: "";
  background: rgba(0,0,0,0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.t-a-j {
  text-align: justify;
}