html {
  font-size: 62.5%;
}

body {
  //font-family: 'Abel', sans-serif;
  font-family: 'Roboto', sans-serif;

  font-size: 1.4rem;
  min-height: 100vh;
  font-weight: 300;
  margin: 0;
}

strong {
  font-weight:700;
}



.ant-layout-sider {
  background-color: $black;
}

.ant-layout-sider-trigger {
  background-color: $blue-44a;
}
.ant-layout-content {
  padding: 0;
  margin: 0;
  @media screen and (min-width: $lg) {
    padding: 0 50px;
    margin: 80px 0 15px;
  }
}

.ant-radio-group-solid {
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: $white;
  }
}

.main-container {
  padding: 24px;
  min-height: 380px;
}

.login-container {
  height: 70vh;

  button {
    width: 100%;
  }

  .login-form-container {
    border-radius: 10px;

    form {
      padding: 15px 15px 0;
    }

    .login-form-header {
      text-align: center;


      padding: 5px;

      h2 {
        margin: 0;

      }
    }


  }
}
.cta-container {
  display: flex;
  button {
    margin: 0 3px;
  }
}

.page-header {
  margin-bottom: 20px;
}


.footer-page-logo {
  text-align: center;
  padding: 5px;
  background-color: $white;
  img {
    width: 15%;
    height: auto;
  }

}

.ant-layout-footer {
  font-size: 1.2rem;
  padding: 15.5px 50px;
}

.date {
  white-space: nowrap;
}

.export-excel-cta, .export-excel-cta.ant-btn-primary {
  background-color: $green-excel;
  color: $white;
  border-color: $green-excel-hover;
  &:hover, &:focus, &:active {
    background-color: $green-excel-hover;
    border-color: $green-excel-hover;
  }
}

.ant-table-tbody > tr > td {
  padding: 5px;
  
  @media screen and (min-width: $lg) {
    padding: 16px;
  }
}

.ant-table-bordered .ant-table-tbody > tr > td, .ant-table-thead > tr > th, .ant-table-tbody > tr {
  white-space: nowrap;

  @media screen and (min-width: $lg) {
    //white-space: normal;
  }
}

body > div:first-of-type:not(#__next) {
  position: relative;

  &:before {
    content: url('/static/loader.svg');
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.ant-btn-primary {
  background-color: $blue-165;
  border-color: $blue-165;
}

.ant-menu  {
  a.active {
    color: $white;

    i {
      color: $blue-44a;
    }
  }

}

.ant-form-item-label {
  line-height: 23px;
}

.ant-select-dropdown-menu-item-group {
  .ant-select-dropdown-menu-item-group-title {
    font-size: 1.4rem;
    color: $white;
  }
  .ant-select-dropdown-menu-item-group-list {
    background-color: $gray-222;
  }
}

.ant-table-wrapper {
  &.hasNew .actions-col {
    display: table-cell;
  }

  .actions-col {
    display: none;
  }

}

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}

.positive-bg {
  background: $positive;
  color: $white;
}
.negative-bg {
  background: $negative;
  color: $white;
}

.product-tag {
  background-color: $white;
  color: $black;
  font-weight: 700;
  font-size: 1.4rem;
}

.widget-box-container {
  display: table-cell;

  .tradingview-widget-container {
    //display: table-column;
    float: left;
    width: 100%;

    @media screen and (min-width: $md) {
      width: 45%;
    }
  }
}

.hidden-table, .hidden {
  display: none!important;
}

.asset-class {
  color: $white;
  background-color: #F6891A;

}
