$primary-color: #00234b;
$secondary-color: #cddc39;
$third-color: #2bccff;
$blue-ob8: #0B81B4;
$blue-44a: #44a9ee;
$blue-165: #165cea;
$gray-btn: #eceff1;
$gray-body: #f5f7f8;
$gray-primary: #cfd7dc;
$gray-secondary: #90a4ae;
$gray-ddd: #ddd;
$gray-414: #414141;
$gray-333: #333;
$gray-222: #222;
$gray-26: #263238;
$gray-1d: #1d212c;
$gray-1b1: #1b1f21;
$green-border: #eeff41;
$green-excel: #4aaa4e;
$green-excel-hover: #2f7930;
$white: #fff;
$black: #000;
$red: #ec2a2b;

$orange: #FF5C34;
$gray: #BABABD;

$positive: #87d068;
$negative: #f50;
$stock: #fdb310;

$orange-btn-h: #e54420;
$blue-44a-btn-h: #3796d6;
$blue-165-btn-h: #3796d6;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;